[Unit]
Description=RSDB root daemon
After=network.target

[Service]
Type=simple
Environment=RSDB_DEVICE_NAME=%H
EnvironmentFile=-/etc/rsdbd.env
ExecStart=/usr/bin/rsdbd --listen 0.0.0.0:27101 --server-id rsdbd-%m
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
